@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-modal-overlay {
  @apply 
  bg-black 
    bg-opacity-50 
    fixed 
    bottom-0
    top-0
    left-0
    right-0
    flex 
    items-end 
    justify-center 
}

.react-modal {
  @apply 
    w-screen
    bg-shape
    h-auto
    rounded-t-2xl
    px-6
}

.input-modal {
  @apply
    w-full
    px-6  
    h-16
    mt-4
    bg-body
    rounded
    border-bodyBorder
    border
    relative
}

.input-modal::placeholder {
  @apply text-text
}

.input-modal:nth-child(1) {
  @apply mt-0
}

.btnTypeTransaction {
  
}

.btn-submit {
  @apply
    bg-green
    w-full
    p-6
    text-center
    text-shape
    font-semibold
    mt-8
    mb-6
    rounded
}

.container-summary {
  scroll-snap-type: x mandatory;
}

.content-summary {
  scroll-snap-align: start;
}
